*{
    margin: 0;
    padding: 0;
}

html{
   /** max-width: 1024px;**/
    max-height: auto;
    background-color: #fff;
   /** margin: 30px;
    @font-face {
        font-family: ;
        src: url();
    }**/
}
/**body{
    background-color: rgba(0, 0, 0, 0.3)
}**/
.container{
    /**border: 2px solid black;
    /**background-color: rgba(255, 255, 255, 0.7);**/
    background-color: #a86c3b;
    margin: 0;
    padding: 0;
}
.header{
    /**text-align: center;**/
    /**border: 1px double black;**/
    color: #fff;
    width: inherit;
    height: 650px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(https://wallpaperaccess.com/full/100630.jpg);
    background-size:cover;
}
.header h1{
    text-align: center;
    position: absolute;
    margin-top: 190px;
    margin-left: 410px;
    font-size: 60px;
}

.header h4{
    text-align: center;
    position: absolute;
    margin-top: 250px;
    margin-left: 340px;
    font-stretch: semi-condensed;
    font-weight: lighter;
    font-size: 25px;
    font-family: 'Caveat';
}
/* From uiverse.io by @alexmaracinaru */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    margin-top: 320px;
    margin-left: 620px;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #000;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #fff;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #000;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }
.header #navigations{
    float: right;
    margin-top: 50px;
   
}
.header #navigations a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
    font-family: 'Caveat';

}
.header #navigations a:hover{
    color:white;
    background-color: #000;
    font-size: 20px;
    padding: 10px;

    
}

/**.content{
    border: 1px dashed black;
    height: 400px;
    /**width: 500px;
}
.content:hover{
    height: 400px;
    width: inherit;
}
.content h3{
    text-align: center;
}**/
#about{
    /**border: 1px dotted black;**/
    height: auto;
    
}
#about h3{
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color: #000;
}
#about_boxs{
    display: grid;
    /*background-color: skyblue;*/
    width: auto;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 1fr;
}

.nature{
    margin: 10px;
    height: 50vh;
    width: 30vw;
    border-radius: 6%;
    text-align: center;
    justify-content: center;
    box-shadow:20px 20px 50px rgba(255, 255, 255, 0.2),
    0 1px 1px rgba(0, 0, 0, 0.6),
    0 2px 1px rgba(0, 0, 0, 0.1),
    0 2px 1px rgba(0, 0, 0, 0.1) ;
    border-top:1px solid rgba(255, 255, 255, 0.2);
    border-left:1px solid rgba(255, 255, 255, 0.2);
    color: white;
}

.nature h1{
    margin: 20px;
    font-size: 25px;
    
}
.nature h1:hover{
    font-size: 30px;
    justify-items: center;
    align-items: center;
}
.nature p{
    font-size: 18px;
}
.nature p:hover{
    display: none;
}
#about #about_boxs a{
    text-decoration: none;
    cursor: pointer;
}

#service{
    /**border: 1px dotted black;**/
    width: auto;
    height: auto;
}
#service h3{
    text-align: center;
    font-size: 30px;
}
#service_list{
    position: relative;
    width: auto;
    height: auto;
    margin:auto;
    margin-left: 50px;
    display: flex;
}
#service_list .box{
    position:relative;
    width:280px;
    height:300px;
    background: #a86c3bb2;
    margin: 15px;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
#service_list .box p
{
    margin: 10px;
    color: white;
    font-size: 20px;
    margin-top: 55%;
    justify-content: center;
}
#service_list .box .icon
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    transition: 0.5s;
    z-index: 1;
}
#service_list .box:hover .icon
{
    top: 5%;
    left: calc(50% - 20%);
    width: 40%;
    height: 40%;
    border-radius: 50%;
}
#service_list .box .icon .fa{
    position: absolute;
    top: 20%;
    left: 28%;
    transform: translate (-50%, -50%) ;
    font-size: 60px;
    transition: 0.5s;
    color: #fff;
}

/**#contact{
    border: 1px solid black;
    height: 400px;
}
#contact h3{
    text-align: center;
}
#contact_form{
    display: flex;
}
.register{
    margin: 20px;
}
.login{
    margin: 20px;
}
input{
    margin-left:10px;
}**/
footer{
    text-align: center;
    font-size: 20px;
    height: 100px;
    width: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.90);
    color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 576px ){
    .header{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 400px;
    }
    .header h1{
        margin: 0;
        padding: 0;
        position: absolute;
        margin-top: 9%;
    }
    
    .header h4{
        position: absolute;
        margin: 0;
        padding: 0;
        font-size: 15px;
        margin-top: 35%;
        margin-left: 10%;
       
    }
    .header #navigations{
        float: left;
        display: flex;
        margin: 0;
        margin-top: 5px;
        margin-left: 5px;
        padding: 0;
    }
    .header #navigations a{
        font-size: 12px;
        margin: 0;
        padding: 0;
        margin-left: 5px;
        margin-top: 5px;
        padding: 8px; 
        background-color: #000;
    }
    .header #navigations a:hover{
       display: none;
    }
    .cta {
        margin: 0;
        padding: 0;
        position: absolute;
        margin-top: 45%;
        margin-left: 15%;
       }
       .cta:before {
        display: none;
        
       }
       
       .cta span {
           border-radius: 10px;
           background-color: #000;
            font-size: 12px;
            margin: 0;
            padding: 10px;
            
       }
       .cta:hover::after {
        display: none;
       }
       .cta:before {
        display: none;
       }
       .cta svg {
        display: none;
       }
       
       .cta:hover:before {
        display: none;
       }
       
       .cta:hover svg {
       display: none;
       }
       
       .cta:active {
        display: none;
       }
    #about{
        width: 100%;
        
    }
    #about_boxs{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    }
    .nature{
        margin: 10px;
        padding: 0;
        height:100px;
        width: 100px;
        border-radius: 10px;
        overflow: hidden;
    }
    .nature h1{
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    .nature p{
        display: none;
    }
    #service{
        position:relative;
        margin: 0;
        padding: 0;
        height: 50%;
        width: 100%;
    }
    #service_list{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        margin-left: 20px;
    }
    #service_list .box{
        width: 100px;
        height: 150px;
        margin: 10px;
        padding: 0;
    }

    #service_list .box .icon .fa{
        top: 20%;
        left: 28%;
    }
    
    #service_list .box:hover{
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-radius: 0;
    }
    
    footer{
        text-align: center;
        font-size: 20px;
        height: 100%;
        width: 100%;
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.90);
        color: rgba(255, 255, 255, 0.4);
    }
   
}
